@font-face {
    font-family: 'futura_ptdemi';
    src: url('../fonts/futuraptdemi-webfont.eot');
    src: url('../fonts/futuraptdemi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraptdemi-webfont.woff2') format('woff2'),
         url('../fonts/futuraptdemi-webfont.woff') format('woff'),
         url('../fonts/futuraptdemi-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_ptbook';
    src: url('../fonts/uturaptbook-webfont.eot');
    src: url('../fonts/futuraptbook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraptbook-webfont.woff2') format('woff2'),
         url('../fonts/futuraptbook-webfont.woff') format('woff'),
         url('../fonts/futuraptbook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
a{
    text-decoration: none;
    color: white;
}
html, body {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'futura_ptdemi';
    color: white;
    background: #000000;
}
::-webkit-scrollbar {
    display: none;
}
.pg-wrapper{
    transform: translate3d(0, 64px, 0);
}
.section{
    position: relative;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
         box-sizing: border-box;
         background-color: #000;
    font-family: 'futura_ptbook';
    font-size: 25px;
}

.section video {
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper.pages{
    position: relative;
    top: 64px;
}

.page{
    font-size: 20px;
    border-bottom: 1px solid #ddbe3a;
    padding-bottom: 50px;
}
.page:last-child{
    border-bottom: none;
}

.page span.page-title {
    font-size: 40px;
    color: #ddbe3a;
    display: block;
    text-align: center;
    padding: 70px 0 30px 0;
}

.page div.urunlerimiz, .page div.is-ortaklarimiz{
    text-align: center;
}

.page div .text {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.page div ul{
    padding: 0;
}
.page div ul li {
    margin: 20px 0;
}
.page div.is-ortaklarimiz table{
    width: 95%;
    display: inline-table;
    margin: auto 0;
    max-width: 500px;
}

.icons{
    position: absolute;
    z-index: 1;
}

.icons.icons-top-right{
    top: 80px;
    right: 10px;
}
.icons.icons-bottom-left{
    bottom: 50px;
    left: 10px;
}
.icons.icons-bottom-right{
    bottom: 50px;
    right: 50px;
}
.icons .icon{
    cursor: pointer;
    width: 40px;
    opacity: .5;
    transition: all 0.3s ease;
    position: absolute;
}
.icons .icon:hover{
    opacity: 1;
}

.icons .icon.open_music_btn, .icons .icon.bile.close_music_btn{
    right: 55px;
}

.icons.mobile.icons-top-right{
    top: 75px;
}
.icons.mobile.icons-bottom-left{
    bottom: 40px;
}
.icons.mobile.icons-bottom-right{
    bottom: 40px;
    right: 40px;
}
.icons.mobile .icon{
    width: 30px;
}

.icons.mobile .icon.open_music_btn, .icons.mobile .icon.close_music_btn{
    right: 40px;
}

.icons .icon.direction.up{
    transform: rotate(180deg);
    right: 2px;
}

.video_name{
    z-index: 10;
    position: absolute;
    height: 40px;
    left: 60px;
    bottom: 10px;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.video_name.mobile{
    height: 30px;
    bottom: 10px;
    left: 50px;
}

nav{
    width: 100%;
    height: 64px;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
}
nav ul {
    list-style: none;
}
.instagram-icon{
    height: 40px;
    position: absolute;
    right: 118px;
    bottom: 12px;
}
.language-icon{
    height: 40px;
    position: absolute;
    right: 65px;
    bottom: 12px;
}
.logo{
    position: absolute;
    left: 20px;
    top: 16px;
    color: white;
    width: 70px;
}
.menu__icon {
    height: 40px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: inline-block;
    vertical-align: middle;
    z-index: 20;
}
.mobile.menu {
    margin: 0;
    position: absolute;
    top: 52px;
    right: 0;
    width: 200px;
    min-height: 100vh;
    text-align: center;
    background-color: black;
    padding-top: 75px;
    z-index: 10;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
}
  
.menu_shown .mobile.menu {
    transform: translateX(0);
}
  
.mobile .menu__item {
    display: block;
    line-height: 1;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.mobile .menu__item img {
    height: 20px;
}

.contact .text div{
    font-size: 30px !important;
}

.contact .content{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 85%;
}

.contact .content div{
    width: 100%;
    text-align: center;
}

.contact .footer{
    height: 15%;
    background: url(../img/contact-bottom-bar.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contact .content .page-title{
    height: 20%;
    display: inline-grid;
    align-content: end;
}

.contact .content .page-title img{
    margin: 0 auto;
    width: 150px;
}

.contact .content .text{
    height: 50%;
    display: inline-grid;
    align-content: center;
}

.contact .content .contact-logo{
    height: 30%;
    display: inline-grid;
    align-content: start;
}

.contact .content .contact-logo img{
    width: 250px;
    margin: 0 auto;
}

.contact .content .text .instagram-link{
    margin-top: 15px;
    display: inline-block;
}

.contact .content .instagram{
    vertical-align: middle;
    margin-bottom: 6px;
    width: 30px;
}

.contact.mobile{
    font-size: 20px;
}

.contact.mobile .content .contact-logo{
    align-content: center;
}

.contact.mobile .content .contact-logo img{
    width: 150px;
}

.contact.mobile .content .instagram{
    width: 17px;
}

.page table tr td{
    margin: 0;
    text-align: center;
}
.page table tr td p{
    margin: 3px;
    font-size: 23px;
}

span.green{
    color: #bbb14a;
}

span.yellow{
    color: #e4c84a;
}

span.orange{
    color: #cb783a;
}

span.red{
    color: #c64231;
}

p.p1 {font-size: 30px; color: #b72e25; -webkit-text-stroke: #b72e25}
p.p2 {-webkit-text-stroke: #000000; min-height: 18.0px}
p.p3 {color: #ffffff; -webkit-text-stroke: #ffffff}
p.p4 {color: #be642d; -webkit-text-stroke: #be642d}
p.p5 {color: #be642d; -webkit-text-stroke: #be642d}
p.p6 {color: #ddbe3a; -webkit-text-stroke: #ddbe3a}
p.p7 {color: #ffffff; -webkit-text-stroke: #ffffff}
p.p8 {color: #ddbe3a; -webkit-text-stroke: #ddbe3a}
span.s1 {font-kerning: none}
span.s2 {font-kerning: none; color: #ddbe3a; -webkit-text-stroke: 0px #ddbe3a}
span.s3 {font-kerning: none; color: #ffffff; -webkit-text-stroke: 0px #ffffff}
table.t1 {border-collapse: collapse; table-layout: fixed}
td.td1 {background-color: #ada43a; border-style: solid; border-width: 3.0px 3.0px 3.0px 3.0px; border-color: #ada43a #ada43a #ada43a #ada43a; padding: 0.0px 3.0px 0.0px 3.0px}
td.td2 {background-color: #000000; border-style: solid; border-width: 1.0px 1.0px 3.0px 1.0px; border-color: #c1c1c1 transparent #ada43a transparent; padding: 0.0px 3.0px 0.0px 3.0px}
td.td3 {background-color: #000000; border-style: solid; border-width: 1.0px 1.0px 3.0px 1.0px; border-color: #c1c1c1 transparent #ada43a #c1c1c1; padding: 0.0px 3.0px 0.0px 3.0px}
td.td4 {background-color: #b72e25; border-style: solid; border-width: 1.0px 3.0px 3.0px 3.0px; border-color: #c1c1c1 #ada43a #ada43a #ada43a; padding: 0.0px 3.0px 0.0px 3.0px}
td.td5 {background-color: #000000; border-style: solid; border-width: 1.0px 3.0px 3.0px 3.0px; border-color: #c1c1c1 #ada43a #ada43a #ada43a; padding: 0.0px 3.0px 0.0px 3.0px}
td.td6 {background-color: #ada43a; border-style: solid; border-width: 1.0px 3.0px 3.0px 3.0px; border-color: #c1c1c1 #ada43a #ada43a #ada43a; padding: 0.0px 3.0px 0.0px 3.0px}
td.td7 {background-color: #000000; border-style: solid; border-width: 1.0px 3.0px 3.0px 3.0px; border-color: #c1c1c1 #ada43a #ada43a #ada43a; padding: 0.0px 3.0px 0.0px 3.0px}
td.td8 {background-color: #000000; border-style: solid; border-width: 1.0px 3.0px 3.0px 1.0px; border-color: #c1c1c1 #ada43a #ada43a #c1c1c1; padding: 0.0px 3.0px 0.0px 3.0px}


@media screen and (orientation:landscape) {
    .contact.tablet .content .text .instagram-link{
        margin-top: 5px;
    }
    .contact.tablet .content .page-title img{
        width: 100px;
    }
    .contact.tablet .content .contact-logo img{
        width: 100px;
    }
}
